$main-font-clr: #323338;
$main-bg-clr: #fff;
$main-font-family: FigtreeRegular;

$app-header-height: 60px;

$homepage-bg-clr: #88c75e;
$contact-page-bg-clr: #bff0bc;
$statistic-page-bg-clr: #fdb32a;
$signup-page-bg-clr: #f07e4e;

$active-link-clr: #f07e4e;
$contact-bg-clr: #ddd;
$btn-delete-clr: #fa7474;
$btn-go-back-clr: #111;

$break-normal: 1000px;