<header class="app-header flex align-center justify-between">
    <div class="flex gap-2">
        <img class="w-16 h-16" src="/assets/img/bitcoin-btc-logo.svg" alt="logo">
        <h1 class="text-6xl text-orange-500">Mr Coin</h1>
    </div>
    <nav class="main-nav">
        <ul class="main-nav-list clean-list flex align-center">
            <li routerLink="/home" routerLinkActive="active" class="nav-link">Home</li>
            <li routerLink="/contact" routerLinkActive="active" class="nav-link">Contacts</li>
            <li routerLink="/statistics" routerLinkActive="active" class="nav-link">Statistics</li>
        </ul>
    </nav>
</header>
