@import '../../../assets/scss/setup/vars';
@import '../../../assets/scss/setup/mixins';

.signup-page {
    @include fullPage;
    background-color: $signup-page-bg-clr;


    .main-heading {
        margin-block-end: 1rem;

        font-size: 4.8em;
        font-family: FigtreeBold;
    }

    form {

        label {
            margin-block-end: 1rem;
            font-size: 2em;
        }

        input {
            @include input;
            width: 100%;
            margin-block-end: 2rem;
        }

    }
}
